@model Templo_de_Momo.Models.Biblioteca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Biblioteca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSeguido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSeguido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JuegoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JuegoId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
